<button class="btn" data-popup-type="survey">Questions?</button>

<div class='cu-modal' aria-hidden="true"> 
    <div class="cu-modal__dialog" role="dialog">
        <div class="popup">
            <button class="popup__close link" data-action="close-popup" aria-label="Close">
                <svg focusable="false" class="icon icon--close " viewBox="0 0 19 19" role="presentation">
                <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
                </svg>
            </button>
            <div id="popup__content">
                {% assign iframSource = "https://vicinity-app-git-enhancment-survey-rmanium.vercel.app?" %}
                {% assign utmSource = "utm_source=" | append : source | default: undefined %}
                {% assign utmContent = "&utm_content=" | append: content | default: undefined %}

                <iframe src="{{ iframSource | append: utmSource | append: utmContent }}" width="100%" height="450px" style='border:none'></iframe>
            </div>
        </div>
    </div>
</div>