/**
 * --------------------------------------------------------------------
 * GENERAL
 * --------------------------------------------------------------------
 */
.section {
  margin: 85px 0;
}
.addtocart {
  text-align: right;
}
.addtocart .add-button {
  background: var(--primary-button-background);
  color: var(--primary-button-text-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 27px;
}
.addtocart .qty-input {
  width: 55px;
  transform: translate(14px, -4px);
  padding: 10px;
  text-align: center;
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none !important;
  border: none;
  background: #ebebf1;
}

/**
 * --------------------------------------------------------------------
 * HOME
 * --------------------------------------------------------------------
 */

/* OFFER ITEM */
.offer-item__image-wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.offer-item {
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 641px) {
  .offer-item {
    padding: 12px 15px;
  }
  .offer-item__image-wrapper {
    min-width: 90px;
    max-width: 90px;
  }
  [data-section-type="offers"] .block-list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 -7px -20px -7px;
  }
  /* [data-section-type="offers"] .block-list__item > :first-child {
    margin: 0 15px 15px 15px; 
  }*/
}

@media screen and (min-width: 1000px) {
  .offer-item__image-wrapper {
    min-width: 110px;
    max-width: 110px;
  }

  [data-section-type="offers"] .block-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px -30px -15px;
  }
}

@media screen and (min-width: 1280px) {
  .offer-item__image-wrapper {
    margin-right: initial;
    margin-left: initial;
  }
  .offer-item {
    text-align: initial;
  }
}

/* [data-section-type="offers"] .block-list__item {
  flex-grow: 1;
} */

/**
 * --------------------------------------------------------------------
 * MAIN CART 
 * --------------------------------------------------------------------
 */
[data-section-type="cart"] .page__header {
  align-items: center;
}
[data-section-type="cart"] .page__header .page__description {
  background-color: #fafafa;
  border: 3px solid #161859;
  border-radius: 3px;
  padding: 17px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

/**
 * --------------------------------------------------------------------
 * MAIN PRODUCT 
 * --------------------------------------------------------------------
 */
[data-section-type="product"] [data-action-type="back"] {
  color: var(--primary-button-text-color);
  background: var(--secondary-button-background);
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
  border-radius: 3px;
  padding: 5px 15px;
  border: 1px solid var(--text-color);
  transition: all 0.3s ease;
}
[data-section-type="product"] [data-action-type="back"]:hover {
  color: var(--secondary-button-background);
  background: var(--primary-button-text-color);
}
